<input type="button" (click)="addColumn()" value="Add Column">
  ({{this.columns.enabled.length}} of {{this.columns.all.length}} columns)
<input type="button" (click)="addRow()" value="Add Row">
  ({{rows}} of {{this.data.length-1}} rows)

<table id="example" class="display" cellspacing="0" width="100%">
  <thead>
      <tr>
        <th *ngFor="let column of this.columns.enabled; let i = index">
          <i
            *ngIf="i > 0"
            style="cursor: pointer"
            (click)="swapColumns(i, i - 1)"
            ><=</i>
          {{ column.name }}
          <i
            *ngIf="i < this.columns.enabled.length - 1"
            style="cursor: pointer"
            (click)="swapColumns(i, i + 1)"
          >=></i>
        </th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of this.parsedData | slice:0:rows">
        <td *ngFor="let field of person"> {{ field[1] }}</td>
    </tr>
  </tbody>
</table>
